/* colors */
.seafoam {
    background: #8dd3c7;
}
.lemoncreme {
    background: #ffffb3;
}
.lilac {
    background: #bebada;
}
.tomato {
    background: #fb8072;
}
.sailorblue {
    background: #80b1d3;
}
.persimmon {
    background: #fdb462;
}
.leaf {
    background: #b3de69;
}
.blossompink {
    background: #fccde5;
}
.dustyplum {
    background: #bc80bd;
}
.dovegray {
    background: #a0c9d3;
}
.lemonpeel {
    background: #ffed6f;
}
.greenmist {
    background: #ccebc5;
}
